<div class="h-screen w-screen flex flex-col justify-center">
  <div class="mt-2 ml-1">
    <h1
      class="text-4xl font-bold text-shadow-xs hover:text-neutral-900 transition-all"
    >
      Welcome user
    </h1>
    <div>
      <p
        class="absolute -top-96 transition-all right-8 bg-neutral-900 text-white p-3 rounded-sm"
        #AnimText
      >
        Click para ver las tablas
      </p>

      <h1
        class="text-5xl font-bold text-shadow-xs hover:text-neutral-900 transition-all pointer"
      >
        New table
      </h1>
    </div>
    <h1
      class="text-6xl font-bold text-shadow-xs hover:text-neutral-900 transition-all"
    >
      Experience
    </h1>

    <div class="flex">
      <h1
        class="text-3xl font-bold text-shadow-xs hover:text-neutral-200 transition-all hover:text-4xl mt-5 bg-neutral-900 text-white py-2 px-1 rounded-sm cursor-pointer"
        (mouseout)="AnimItemOut(AnimText)"
        (mouseenter)="AnimItemIn(AnimText)"
        [routerLink]="['/table']"
      >
        See table
      </h1>
    </div>
  </div>
</div>
